{
  "presets": [
    [
      "env", {
        "targets": {
          "browsers": ["last 2 firefox versions"]
        }
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread",
    ["transform-react-jsx", {
      "pragma": "h"
    }]
  ]
}